{% extends "msystem/index.html"%}
{% load static %}

{% block content %}
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Add Person</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Add Client</li>
            </ul>
          </div>
          <div class="col-auto float-end ms-auto">
            <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_client"><i
                    class="fa fa-plus"></i> Add Client</a>
            <div class="view-icons">
              <a href="clients" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
              <a href="clients_list" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">


        <div class="account-box " id="add_client">
          <div class="account-wrapper">
            <form method="get" action="{% url 'msystem:add_person' %}" id="addClientForm">

              <!-- Main -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label"> Date of Birth </label>
                    <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="dob"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Phone<span class="text-danger">*</span></label>
                        <input class="form-control floating" type="number" name="phone" required>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Telephone</label>
                        <input class="form-control floating" type="number" name="telephone">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Profession</label>
                    <input class="form-control floating" type="text" name="profession">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Residence</label>
                    <input class="form-control" type="text" name="residence">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Country</label>
                    <input class="form-control" type="text" name="country" list="countries">
                      <datalist id="countries">
                        <option value="Ghana">
                        <option value="UK">
                      </datalist>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Hometown</label>
                    <input class="form-control floating" type="text" name="hometown">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Religion</label>
                    <input class="form-control" type="text" name="religion">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Request Information</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="request_info"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Dr. Jan's Remark</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="remark"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Solution</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="solution"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Checkboxes -->
              <div class="form-group ">
                <label class="col-form-label">Role</label>
                <div class="row">
                  <div class="checkbox col-md-3">
                    <label>
                      <input type="checkbox" name="roles" value="client"> Client
                    </label>
                  </div>
                  <div class="checkbox col-md-3">
                    <label>
                      <input type="checkbox" name="roles" value="student"> Student
                    </label>
                  </div>
                  <div class="checkbox col-md-3">
                    <label>
                      <input type="checkbox" name="roles" value="employee"> Employee
                    </label>
                  </div>
                  <div class="checkbox col-md-3">
                    <label>
                      <input type="checkbox" name="roles" value="rep"> Representative
                    </label>
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <div class="submit-section">
                <button class="btn btn-primary submit-btn mb-5">Submit</button>
              </div>

            </form>
          </div>
        </div>

      </div>

{% endblock content %}



{% block modals %}

    <!-- Edit client modal -->
    <div id="edit_client" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Client</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                    <input class="form-control" value="Barry" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Last Name</label>
                    <input class="form-control" value="Cuda" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Username <span class="text-danger">*</span></label>
                    <input class="form-control" value="barrycuda" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Email <span class="text-danger">*</span></label>
                    <input class="form-control floating" value="barrycuda@example.com" type="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <input class="form-control" value="barrycuda" type="password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Confirm Password</label>
                    <input class="form-control" value="barrycuda" type="password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Client ID <span class="text-danger">*</span></label>
                    <input class="form-control floating" value="CLT-0001" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Phone </label>
                    <input class="form-control" value="9876543210" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Company Name</label>
                    <input class="form-control" type="text" value="Global Technologies">
                  </div>
                </div>
              </div>
              <div class="table-responsive m-t-15">
                <table class="table table-striped custom-table">
                  <thead>
                  <tr>
                    <th>Module Permission</th>
                    <th class="text-center">Read</th>
                    <th class="text-center">Write</th>
                    <th class="text-center">Create</th>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Import</th>
                    <th class="text-center">Export</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Projects</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td>Tasks</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td>Chat</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td>Estimates</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td>Invoices</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td>Timing Sheets</td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                    <td class="text-center">
                      <input checked="" type="checkbox">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="submit-section">
                <button class="btn btn-primary submit-btn">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete client modal -->
    <div class="modal custom-modal fade" id="delete_client" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-header">
              <h3>Delete Client</h3>
              <p>Are you sure want to delete?</p>
            </div>
            <div class="modal-btn delete-action">
              <div class="row">
                <div class="col-6">
                  <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                </div>
                <div class="col-6">
                  <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock modals %}