{% extends "msystem/index.html"%}
{% load static %}

{% block title %}{% if update %}Update Client{% else %}Add Clients{% endif %}{% endblock title %}

{% block content %}
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">{%if update%}Update Record{%else%}Add Person{% endif %}</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">{%if update%}Update Client{%else%}Add Client{% endif %}</li>
            </ul>
          </div>
<!--          <div class="col-auto float-end ms-auto">-->
<!--            <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#edit_client"><i-->
<!--                    class="fa fa-plus"></i> Add Client</a>-->
<!--            <div class="view-icons">-->
<!--              <a href="clients" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>-->
<!--              <a href="clients_list" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

      <div class="container">

        <div class="account-box " id="add_client">
          <div class="account-wrapper">
            <form method="post" action="{%if update%}{% url 'msystem:update_person' person.id %}{%else%}{% url 'msystem:add_person' %}{% endif %}" id="addClientForm" enctype="multipart/form-data">
            {% csrf_token %}
              <!-- Main -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="full_name" {% if person.full_name %} value="{{person.full_name}}" {% endif %} required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label"> Date of Birth </label>
                    <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="date_of_birth" {% if dob %} value="{{dob}}" {% endif %}></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Phone<span class="text-danger">*</span></label>
                        <input class="form-control floating" type="tel" inputmode="numeric" pattern="[0-9+ ]*" name="phone" required {% if person.phone %} value="{{person.phone}}" {% endif %}>
                        <span class="validity"></span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Telephone</label>
                        <input class="form-control floating" type="tel" inputmode="numeric" pattern="[0-9+ ]*" name="telephone" {% if person.telephone %} value="{{person.telephone}}" {% endif %}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Profession</label>
                    <input class="form-control floating" type="text" name="profession" {% if person.profession %} value="{{person.profession}}" {% endif %}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Gender</label>
                    <input  class="form-control floating" list="genders" name="gender" {% if person.gender %} value="{{person.gender}}" {% endif %}>
                    <datalist id="genders">
                      <option value="Male">
                      <option value="Female">
                    </datalist>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Residence</label>
                    <input class="form-control" type="text" name="residence" {% if person.residence %} value="{{person.residence}}" {% endif %}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Country</label>
                    <input class="form-control" value="Ghana" type="text" name="country" list="countries" {% if person.country %} value="{{country}}" {% endif %}>
                      <datalist id="countries">
                        <option value="Ghana">
                        <option value="UK">
                      </datalist>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Hometown/Region</label>
                    <input class="form-control floating" type="text" name="hometown" {% if person.hometown %} value="{{person.hometown}}" {% endif %}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Religion</label>
                    <input class="form-control" value="Christianity" type="text" name="religion" {% if person.religion %} value="{{person.religion}}" {% endif %}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Referral</label>
                    <input class="form-control" type="text" name="referral" {% if person.referral %} value="{{person.referral}}" {% endif %}>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Request Information</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="request_info">{% if person.request_info %} {{ person.request_info}} {% endif %}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Dr. Jan's Remark</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="remark">{% if person.remark %} {{person.remark}} {% endif %}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">Solution</label>
                    <div class="">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here" form="addClientForm" name="solution">{% if person.solution %} {{person.solution}} {% endif %}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-form-label">File Input (Additional Data)</label>
                    <div class="">
                      <input class="form-control" type="file" name="datafile" multiple>
                    </div>
                    <div class="mt-4">
                      {% if person.datafiles %}
                      <h4>Attached Files</h4>
                      <ul>
                        {% for file in person.datafiles.all %}
                        <li>{{ file.file.name|slice:"11:"}}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Checkboxes -->
              <div class="form-group ">
                <label class="col-form-label">Role</label>
                <div class="row">
                  <div class="checkbox col-md-6">
                    <label>
                      {%if update%}
                      <input type="checkbox" name="roles" value="is_client" {% if person.is_client %} checked {% endif %}> Client
                      {% else %}
                      <input type="checkbox" name="roles" value="is_client" checked> Client
                      {% endif %}
                    </label>
                  </div>
                  <div class="checkbox col-md-6">
                    <label>
                      <input type="checkbox" name="roles" value="is_student" {% if person.is_student %} checked {% endif %}> Student
                    </label>
                  </div>

                </div>
              </div>

              <!-- Submit button -->
              <div class="submit-section">
                <button class="btn btn-primary submit-btn mb-5">{% if update %}Update Record {% else %} Submit {% endif %}</button>
              </div>

            </form>
          </div>
        </div>

      </div>

{% endblock content %}



{% block modals %}

    <!-- Edit client modal -->
<!--    <div id="edit_client" class="modal custom-modal fade" role="dialog">-->
<!--      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h5 class="modal-title">Edit Client</h5>-->
<!--            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">-->
<!--              <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <form>-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">First Name <span class="text-danger">*</span></label>-->
<!--                    <input class="form-control" value="Barry" type="text">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Last Name</label>-->
<!--                    <input class="form-control" value="Cuda" type="text">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Username <span class="text-danger">*</span></label>-->
<!--                    <input class="form-control" value="barrycuda" type="text">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Email <span class="text-danger">*</span></label>-->
<!--                    <input class="form-control floating" value="barrycuda@example.com" type="email">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Password</label>-->
<!--                    <input class="form-control" value="barrycuda" type="password">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Confirm Password</label>-->
<!--                    <input class="form-control" value="barrycuda" type="password">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Client ID <span class="text-danger">*</span></label>-->
<!--                    <input class="form-control floating" value="CLT-0001" type="text">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Phone </label>-->
<!--                    <input class="form-control" value="9876543210" type="text">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <div class="form-group">-->
<!--                    <label class="col-form-label">Company Name</label>-->
<!--                    <input class="form-control" type="text" value="Global Technologies">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="table-responsive m-t-15">-->
<!--                <table class="table table-striped custom-table">-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th>Module Permission</th>-->
<!--                    <th class="text-center">Read</th>-->
<!--                    <th class="text-center">Write</th>-->
<!--                    <th class="text-center">Create</th>-->
<!--                    <th class="text-center">Delete</th>-->
<!--                    <th class="text-center">Import</th>-->
<!--                    <th class="text-center">Export</th>-->
<!--                  </tr>-->
<!--                  </thead>-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <td>Projects</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>Tasks</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>Chat</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>Estimates</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>Invoices</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>Timing Sheets</td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                    <td class="text-center">-->
<!--                      <input checked="" type="checkbox">-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--              <div class="submit-section">-->
<!--                <button class="btn btn-primary submit-btn">Save</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- Delete client modal -->
<!--    <div class="modal custom-modal fade" id="delete_client" role="dialog">-->
<!--      <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-body">-->
<!--            <div class="form-header">-->
<!--              <h3>Delete Client</h3>-->
<!--              <p>Are you sure want to delete?</p>-->
<!--            </div>-->
<!--            <div class="modal-btn delete-action">-->
<!--              <div class="row">-->
<!--                <div class="col-6">-->
<!--                  <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

{% endblock modals %}