{% extends "msystem/index.html"%}
{% load static %}

{% block title %}{% if update %}Update Client{% else %}Add Clients{% endif %}{% endblock title %}

{% block content %}
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">{% if appointment %}Update Appointment {% else %} Set Appointment {% endif %}</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">{% if appointment %}Update Appointment {% else %} Set Appointment {% endif %}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="account-box " id="add_client">
          <div class="account-wrapper">
            <form method="post" action="{% if appointment %} {% url 'msystem:change_appointment' appointment.id %}{% else %} {% url 'msystem:book_client' client.id %} {% endif %}" id="addClientForm" enctype="multipart/form-data">
            {% csrf_token %}
              <!-- Main -->
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" value="{{client.full_name}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Phone</label>
                        <input class="form-control floating" type="tel" inputmode="numeric" pattern="[0-9+ ]*" value="{{client.phone}}" disabled>
                        <span class="validity"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Country</label>
                        <input class="form-control floating" type="text" value="{{client.country}}" disabled>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label"> Appointment Date<span class="text-danger">*</span></label>
                    <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="appointment_date" {% if appointment %} value="{{ap_date}}" {% endif %} required></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Mode <span class="text-danger">*</span></label>
                    <input  class="form-control floating" list="modes" name="mode" required {% if appointment %} value="{{ appointment.mode }}" {% endif %}>
                    <datalist id="modes">
                      <option value="Onsite">
                      <option value="Remote">
                    </datalist>
                  </div>
                </div>

              </div>

              <!-- Submit button -->
              <div class="submit-section">
                <button class="btn btn-primary submit-btn mb-5">{% if appointment %} Update Appointment {% else %} Book Appointment {% endif %}</button>
              </div>

            </form>
          </div>
        </div>

      </div>

{% endblock content %}



{% block modals %}
{% endblock modals %}