{% extends "msystem/index.html"%}
{% load static %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Profile</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Profile</li>
      </ul>
    </div>
  </div>
</div>

<!-- Info Card-->
<div class="card mb-0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-view">
          <div class="profile-img-wrap">
            <div class="profile-img">
              <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png"
                     alt="">
              </a>
            </div>
          </div>
          <div class="profile-basic">
            <div class="row">
              <div class="col-md-5">
                <div class="profile-info-left">
                  <h3 class="user-name m-t-0">{{ client.full_name }}</h3>
                  <h4 class="company-role m-t-0 mb-0 text-muted">{{ client.profession }}</h4>
                  <div class="staff-id">Client ID : {{ client.id }}</div>
                  <div class="staff-msg"><a href="" class="btn btn-custom">Print Record </a></div>
                </div>
              </div>
              <div class="col-md-7">
                <ul class="personal-info">
                  <li>
                    <span class="title">Phone:</span>
                    <span class="text"><a href="">{{ client.phone }}</a></span>
                  </li>
                  <li>
                    <span class="title">Date of birth:</span>
                    <span class="text">{{ client.date_of_birth }}</span>
                  </li>
                  <li>
                    <span class="title">Address:</span>
                    <span class="text">{{ client.residence }}</span>
                  </li>
                  <li>
                    <span class="title">Student Status:</span>
                    <span class="text">
                      {% if client.is_student %}
                        <i class="fa fa-check-circle text-success"></i>
                      {% else %}
                        <i class="fa fa-times-circle text-danger"></i>
                      {% endif %}
                    </span>
                  </li>
                  <li>
                    <span class="title">Email:</span>
                    <span class="text"><a href="">N/A</a></span>
                  </li>
                  <li>
                    <span class="title">Gender:</span>
                    <span class="text">N/A</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabs -->
<div class="card tab-box">
  <div class="row user-tabs">
    <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
      <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item col-sm-3"><a class="nav-link active" data-bs-toggle="tab" href="#requestinfo">Request Info</a>
        </li>
        <li class="nav-item col-sm-3"><a class="nav-link" data-bs-toggle="tab" href="#remark">Remark/Solution</a></li>
        <li class="nav-item col-sm-3"><a class="nav-link" data-bs-toggle="tab" href="#files">Data Files</a></li>
        <li class="nav-item col-sm-3"><a class="nav-link" data-bs-toggle="tab" href="#tasks">Tasks</a></li>
      </ul>
    </div>
  </div>
</div>

<!--Tab contents-->
<div class="row">
  <div class="col-lg-12">
    <div class="tab-content profile-tab-content">

      <!-- Request Info Tab -->
      <div id="requestinfo" class="tab-pane fade show active">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="dropdown profile-action">
                  <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="material-icons">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'msystem:update_person' client.id %}" ><i
                            class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i> Delete</a>
                  </div>
                </div>
                <h4 class="project-title"><a href="project_view">Request Info</a></h4>
                <p class="">{{ client.request_info | linebreaks }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Data Files -->
      <div id="files" class="tab-pane fade">
        <div>
          <h4>Files</h4>
          <div class="row row-sm">
            {% if client.datafiles %}
              {% for file in client.datafiles.all %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                  <div class="card card-file h-100">
                    <div class="dropdown-file dropdown profile-action">
                      <a href="" class="dropdown-link" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">View Details</a>
                        <a href="#" class="dropdown-item">Share</a>
                        <a href="#" class="dropdown-item">Download</a>
                        <a href="#" class="dropdown-item">Rename</a>
                        <a href="#" class="dropdown-item">Delete</a>
                      </div>
                    </div>
                    {% if ".jpg" in file.file.name or ".png" in file.file.name %}
                      <a href="#" data-bs-toggle="modal" data-bs-target="#{{file.file.name |slice:'11:16'}}_{{forloop.counter}}">{{file.file.get_extension}}
                        <div class="card-file-thumb " style="background-color: #f5f5f5; color: #777; font-size: 48px; height: 120px; margin: 5px; text-align: center; padding: 20px">
                          <i class="fa fa-file-image-o "></i>
                        </div>
                      </a>
                    {%else%}
                      <a href="{{ file.file.url }}">
                        <div class="card-file-thumb " style="background-color: #f5f5f5; color: #777; font-size: 48px; height: 120px; margin: 5px; text-align: center; padding: 20px">
                          <i class="fa fa-file-word-o "></i>
                        </div>
                      </a>
                    {% endif %}
                    <div class="card-body">
                      <h6 style="color: #1f1f1f">{{ file.file.name|slice:"11:" }}</h6>
                      <span>12mb</span>
                    </div>
<!--                    <div class="card-footer">9 Aug 1:17 PM</div>-->
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Remark/Solution Tab -->
      <div id="remark" class="tab-pane fade">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="dropdown profile-action">
                  <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="material-icons">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'msystem:update_person' client.id %}" ><i
                            class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i> Delete</a>
                  </div>
                </div>
                <h4 class="project-title"><a href="project_view">Remark</a></h4>
                <p class="">{{ client.remark | linebreaks }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="dropdown profile-action">
                  <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="material-icons">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'msystem:update_person' client.id %}" ><i
                            class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i> Delete</a>
                  </div>
                </div>
                <h4 class="project-title"><a href="project_view">Solution</a></h4>
                <p class="">{{ client.solution | linebreaks }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tasks Tab -->
      <div id="tasks" class="tab-pane fade">
        <div class="project-task">
          <ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
            <li class="nav-item"><a class="nav-link active" href="#all_tasks" data-bs-toggle="tab" aria-expanded="true">All
              Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="#pending_tasks" data-bs-toggle="tab" aria-expanded="false">Pending
              Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="#completed_tasks" data-bs-toggle="tab" aria-expanded="false">Completed
              Tasks</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="all_tasks">
              <div class="task-wrapper">
                <div class="task-list-container">
                  <div class="task-list-body">
                    <ul id="task-list">
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient appointment booking</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label"
                                contenteditable="true">Appointment booking with payment gateway</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="completed task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
 <i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label">Doctor available module</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient and Doctor video conferencing</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Private chat module</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient Profile add</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="task-list-footer">
                    <div class="new-task-wrapper">
                      <textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
                      <span class="error-message hidden">You need to enter a task first</span>
                      <span class="add-new-task-btn btn" id="add-task">Add Task</span>
                      <span class="btn" id="close-task-panel">Close</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pending_tasks">
              <div class="task-wrapper">
                <div class="task-list-container">
                  <div class="task-list-body">
                    <ul class="task-lists" id="task-list">
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient appointment booking</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label"
                                contenteditable="true">Appointment booking with payment gateway</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient and Doctor video conferencing</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Private chat module</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient Profile add</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="task-list-footer">
                    <div class="new-task-wrapper">
                      <textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
                      <span class="error-message hidden">You need to enter a task first</span>
                      <span class="add-new-task-btn btn" id="add-task">Add Task</span>
                      <span class="btn" id="close-task-panel">Close</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="completed_tasks">
              <div class="task-wrapper">
                <div class="task-list-container">
                  <div class="task-list-body">
                    <ul class="completes-task-list" id="task-list">
                      <li class="completed task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient appointment booking</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="completed task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label"
                                contenteditable="true">Appointment booking with payment gateway</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="completed task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Patient and Doctor video conferencing</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                      <li class="completed task">
                        <div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
                          <span class="task-label" contenteditable="true">Private chat module</span>
                          <span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="task-list-footer">
                    <div class="new-task-wrapper">
                      <textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
                      <span class="error-message hidden">You need to enter a task first</span>
                      <span class="add-new-task-btn btn" id="add-task">Add Task</span>
                      <span class="btn" id="close-task-panel">Close</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}


{% block modals %}

    <!-- Modal for images -->
    {% if client.datafiles %}
      {% for file in client.datafiles.all %}
        {% if ".jpg" in file.file.name or ".png" in file.file.name  %}
          <div id="{{file.file.name |slice:'11:16'}}_{{forloop.counter}}" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{file.file.name|slice:"11:"}}</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <img src="{{file.file.url}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
      {%endif%}
    {% endfor %}
  {% endif %}

<!--<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_client"><i class="fa fa-plus"></i> Add Client</a>-->

{% endblock modals %}