{% extends 'msystem/datatables/datatable_base.html' %}
{% load static %}


{% block main_content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="{% url 'msystem:clients' %}" type="button" class="btn btn-warning mb-2 me-2">
                        <i class="mdi mdi-account-plus me-1"></i> Add Appointment
                    </a>
                </div>
                <h4 class="page-title">Appoinments</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="" id="basic-datatable-preview">
                        <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                            <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Mode</th>
                                <th>Appointment Date</th>
                                <th>Country</th>
                                <th style="width: 125px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ap in appointments %}
                            <tr>
                                <td><span class="d-none">-</span>{{ ap.id }}</td>
                                <td>
                                    <!--                                    <i class="uil-user mr-3"></i>-->
                                    <a class="text-decoration-none text-body"
                                       href="{% url 'msystem:client_profile' ap.person.id %}">{{ ap.person.full_name }}</a>
                                    <!--                                    <span>{{ client.full_name }}</span>-->
                                </td>
                                <td>{{ ap.person.phone }}</td>
                                <td>{{ ap.mode }}</td>
                                <td>{% if ap.is_today %}{{ ap.date }} <strong class="text-success ">(Today)</strong> {% else %} {{ ap.date }} {% endif %}
                                </td>
                                <td>{{ap.person.country}}</td>
                                <td>
                                    <a href="{% url 'msystem:change_appointment' ap.id %}" class="action-icon"> <i
                                            class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i
                                            class="mdi mdi-delete"></i></a>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div> <!-- end preview-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div> <!-- end row-->

</div> <!-- container -->

{% endblock main_content %}
