{% extends 'msystem/base.html' %}
{% load static %}

{% block extra_css %}
<!-- Datatables css -->
<link href="{% static 'msystem/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'msystem/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}


<!-- Main Content goes here -->




{% block extra_scripts %}
<!-- Datatables js -->
<script src="{% static 'msystem/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'msystem/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'msystem/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'msystem/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>

<!-- Datatable Init js -->
<script src="{% static 'msystem/assets/js/pages/demo.datatable-init.js' %}"></script>
{% endblock extra_scripts %}
